<% @reg = 9 %>
<div class="row"><!--aquí la parte de abajo-->
									<div class="col-sm-6">
										<div class="panel panel-left"><a href="<%= asset_path detail_path(region_id: @reg,vistum_id: 3) %>">
											<div class="panel-body">
												<div class="row">
													<div class="col-7"style="text-align: right">
														<p class="dato" ><%= @region[8].datathree %></p>
													</div>
													<div class="col-5">
														<p class="leyenda-dato">VIAJES DIARIOS EN LA REGIÓN</p>
													</div>
												</div>
												<div class="row">
													<div class="col-1">
														<i class="fas fa-bus mono"></i>
													</div>	
													<div class="offset-3 col-6"><p class="ir-dato">VER OFERTA DE TRANSPORTE PÚBLICO</p>
													</div>
													<div class="col-1 dato-flecha">></div>
												</div> 
											</div></a>
										</div>
									</div>
									<div class="col-sm-6">
						 				<div class="panel panel-right"><a href="<%= asset_path detail_path(region_id: @reg,vistum_id: 5) %>">
											<div class="panel-body">
												<div class="row">
													<div class="col-7" style="text-align: right">
														<p class="dato"><%= @region[8].datafive %></p>
													</div>
													<div class="col-5">
														<p class="leyenda-dato">TASA DE MOTORIZACIÓN</p>
													</div>
												</div>
												<div class="row">
													<div class="col-1">
														<i class="fas fa-car-alt mono"></i>
													</div>		
													<div class="offset-3 col-6"><p class="ir-dato">VER TRANSPORTE PRIVADO</p>
													</div>
													<div class="col-1 dato-flecha">></div>
												</div>
											</div></a>
										</div>

						 			</div>

						 			<div class="col-sm-6">
										<div class="panel panel-left"><a href="<%= asset_path detail_path(region_id: @reg,vistum_id: 6) %>">
											<div class="panel-body">
												<div class="row">
													<div class="col-7" style="text-align: right">
														<p class="dato"><%= @region[8].datasix %><span style="font-size: 20px">km</span></p>
													</div>
													<div class="col-5">
														<p class="leyenda-dato">DE CICLOVÍAS EN LA REGIÓN</p>
													</div>
												</div>
												<div class="row">
													<div class="col-1">
														<i class="fas fa-bicycle mono"></i>
													</div>		
													<div class="offset-3 col-6"><p class="ir-dato">VER TRANSPORTE NO MOTORIZADO</p>
													</div>
													<div class="col-1 dato-flecha">></div>
												</div>
											</div></a>
										</div>
									</div>
									<div class="col-sm-6">
						 				<div class="panel panel-right"><a href="<%= asset_path detail_path(region_id: @reg,vistum_id: 7) %>">
											<div class="panel-body">
												<div class="row">
													<div class="col-7" style="text-align: right">
														<p class="dato"><%= @region[8].dataseven %></p>
													</div>
													<div class="col-5">
														<p class="leyenda-dato">FALLECIDOS ÚLTIMO PERIODO</p>
													</div>
												</div>
												<div class="row">
													<div class="col-1">
														<i class="fas fa-car-crash mono"></i>
													</div>		
													<div class="offset-3 col-6"><p class="ir-dato">VER SEGURIDAD VIAL</p>
													</div>
													<div class="col-1 dato-flecha">></div>
												</div>
											</div></a>
										</div>
						 			</div>
						 			

								</div>