<% if @region.id == 1 %>
	<div id="oferta_1_arica-frecuencias" class="cuadro-grafico graph_15_3 row mr-0">
		<div class=" col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='viz1541572031553' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;of&#47;oferta_1_arica&#47;frecuencias&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='oferta_1_arica&#47;frecuencias' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;of&#47;oferta_1_arica&#47;frecuencias&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1541572031553');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[4].help_title %>
				</p>
				<p>
					<%= @sidebars[4].help_text %>
				</p>
			</div>
		</div>
	</div>

<% elsif @region.id == 3 %>
	<div id="oferta_1_antofagasta-frecuencias" class="cuadro-grafico graph_2_3 row mr-0">
		<div class=" col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='viz1541651029966' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;of&#47;oferta_1_antofagasta&#47;frecuencias&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='oferta_1_antofagasta&#47;frecuencias' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;of&#47;oferta_1_antofagasta&#47;frecuencias&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1541651029966');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[4].help_title %>
				</p>
				<p>
					<%= @sidebars[4].help_text %>
				</p>
			</div>
		</div>
	</div>

<% elsif @region.id == 5 %>
	<div id="oferta_1_coquimbo-frecuencias" class="cuadro-grafico graph_4_3 row mr-0">
		<div class=" col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='oferta_1_coquimbo-frecuencias' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;oferta_1_coquimbo&#47;frecuencias&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='oferta_1_coquimbo&#47;frecuencias' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;oferta_1_coquimbo&#47;frecuencias&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('oferta_1_coquimbo-frecuencias');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[4].help_title %>
				</p>
				<p>
					<%= @sidebars[4].help_text %>
				</p>
			</div>
		</div>
	</div>

<% elsif @region.id == 6 %>
	<div id="oferta_1_valparaiso-frecuencias" class="cuadro-grafico graph_5_3 row mr-0">
		<div class=" col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='viz1541655399718' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;of&#47;oferta_1_valparaiso&#47;frecuencias&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='oferta_1_valparaiso&#47;frecuencias' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;of&#47;oferta_1_valparaiso&#47;frecuencias&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1541655399718');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[4].help_title %>
				</p>
				<p>
					<%= @sidebars[4].help_text %>
				</p>
			</div>
		</div>
	</div>


<% elsif @region.id == 7 %>
				<div id="oferta_1_metropolitana-vias" class="cuadro-grafico graph_13_3 row mr-0">
					<div class=" col-sm-10 pr-0">
						<div class='tableauPlaceholder' id='viz1540867340306' style='position: relative'>
							<noscript>
								<a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;of&#47;oferta_1_metropolitana&#47;vias&#47;1_rss.png' style='border: none' /></a>
							</noscript>
							<object class='tableauViz'  style='display:none;'>
								<param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
								<param name='embed_code_version' value='3' />
								<param name='site_root' value='' />
								<param name='name' value='oferta_1_metropolitana&#47;vias' />
								<param name='tabs' value='no' />
								<param name='showShareOptions' value='false' />
								<param name='toolbar' value='no' />
								<param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;of&#47;oferta_1_metropolitana&#47;vias&#47;1.png' />
								<param name='animate_transition' value='yes' />
								<param name='display_static_image' value='yes' />
								<param name='display_spinner' value='yes' />
								<param name='display_overlay' value='yes' />
								<param name='display_count' value='yes' />
							</object>
						</div>
						<script type='text/javascript'>
							var divElement = document.getElementById('viz1540867340306');
							var vizElement = divElement.getElementsByTagName('object')[0];
							vizElement.style.width='100%';
							vizElement.style.height=(divElement.offsetWidth*0.26)+'px';
							var scriptElement = document.createElement('script');
							scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
							vizElement.parentNode.insertBefore(scriptElement, vizElement);
						</script>
					</div>
					<div class="col-sm-2">
						<div>
							<div class="cuadro-ayuda">
								<p>
									AYUDA
								</p>
								<p>
									<%= @sidebars[0].help_title %>
								</p>
								<p>
									<%= @sidebars[0].help_text %>
								</p>
							</div>
						</div>
					</div>
				</div>
				<br>

				<div id="oferta_1_metropolitana-paradas" class="cuadro-grafico graph_13_3 row mr-0">
					<div class=" col-sm-10 pr-0">
						<div class='tableauPlaceholder' id='viz1626099898173' style='position: relative'><noscript><a href='#'><img alt='Paradas Totales Red&#47;Transantiago ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pa&#47;ParaderostotalesRM&#47;Sheet1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='ParaderostotalesRM&#47;Sheet1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pa&#47;ParaderostotalesRM&#47;Sheet1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1626099898173');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
					</div>
					<div class="col-sm-2">
						<div class="cuadro-ayuda">
							<p>
								AYUDA
							</p>
							<p>
								<%= @sidebars[1].help_title %>
							</p>
							<p>
								<%= @sidebars[1].help_text %>
							</p>
						</div>
					</div>
				</div>

				<div id="oferta_1_metropolitana-flota" class="cuadro-grafico graph_13_3 row mr-0">
					<div class=" col-sm-10 pr-0">
						<div class='tableauPlaceholder' id='viz1626103191785' style='position: relative'><noscript><a href='#'><img alt='Flota de Buses Red&#47;Transantiago ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Fl&#47;FlotadeBusesRM&#47;Sheet1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='FlotadeBusesRM&#47;Sheet1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Fl&#47;FlotadeBusesRM&#47;Sheet1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1626103191785');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.50)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
					</div>
					<div class="col-sm-2">
						<div class="cuadro-ayuda">
							<p>
								AYUDA
							</p>
							<p>
								<%= @sidebars[2].help_title %>
							</p>
							<p>
								<%= @sidebars[2].help_text %>
							</p>
						</div>
					</div>
				</div>

				<div id="oferta_1_metropolitana-kms_operados" class="cuadro-grafico graph_13_3 row mr-0">
					<div class=" col-sm-10 pr-0">
						<div class='tableauPlaceholder' id='viz1626106810308' style='position: relative'><noscript><a href='#'><img alt='Kilómetros-buses operados por Unidad de Red&#47;Transantiago ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ki&#47;Kilmeotrosoperadosporunidad&#47;Sheet1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Kilmeotrosoperadosporunidad&#47;Sheet1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ki&#47;Kilmeotrosoperadosporunidad&#47;Sheet1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1626106810308');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
					</div>
					<div class="col-sm-2">
						<div class="cuadro-ayuda">
							<p>
								AYUDA
							</p>
							<p>
								<%= @sidebars[3].help_title %>
							</p>
							<p>
								<%= @sidebars[3].help_text %>
							</p>
						</div>
					</div>
				</div>

				<div id="oferta_1_metropolitana-frecuencias" class="cuadro-grafico graph_13_3 row mr-0">
					<div class=" col-sm-10 pr-0">
						<div class='tableauPlaceholder' id='viz1540867502603' style='position: relative'>
							<noscript>
							<a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;of&#47;oferta_1_metropolitana&#47;frecuencias&#47;1_rss.png' style='border: none' /></a>
							</noscript>
							<object class='tableauViz'  style='display:none;'>
								<param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
								<param name='embed_code_version' value='3' />
								<param name='site_root' value='' />
								<param name='name' value='oferta_1_metropolitana&#47;frecuencias' />
								<param name='tabs' value='no' />
								<param name='showShareOptions' value='false' />
								<param name='toolbar' value='no' />
								<param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;of&#47;oferta_1_metropolitana&#47;frecuencias&#47;1.png' />
								<param name='animate_transition' value='yes' />
								<param name='display_static_image' value='yes' />
								<param name='display_spinner' value='yes' />
								<param name='display_overlay' value='yes' />
								<param name='display_count' value='yes' />
							</object>
						</div>
						<script type='text/javascript'>
							var divElement = document.getElementById('viz1540867502603');
							var vizElement = divElement.getElementsByTagName('object')[0];
							vizElement.style.width='100%';
							vizElement.style.height=(divElement.offsetWidth*0.50)+'px';
							var scriptElement = document.createElement('script');
							scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
							vizElement.parentNode.insertBefore(scriptElement, vizElement);
						</script>
					</div>
					<div class="col-sm-2">
						<div class="cuadro-ayuda">
							<p>
								AYUDA
							</p>
							<p>
								<%= @sidebars[4].help_title %>
							</p>
							<p>
								<%= @sidebars[4].help_text %>
							</p>
						</div>
					</div>
				</div>

<% elsif @region.id == 8 %>
	<div id="oferta_1_ohiggins-frecuencias" class="cuadro-grafico graph_6_3 row mr-0">
		<div class=" col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='oferta_1_ohiggins-frecuencias' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;oferta_1_ohiggins&#47;frecuencias&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='oferta_1_ohiggins&#47;frecuencias' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;oferta_1_ohiggins&#47;frecuencias&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('oferta_1_ohiggins-frecuencias');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[4].help_title %>
				</p>
				<p>
					<%= @sidebars[4].help_text %>
				</p>
			</div>
		</div>
	</div>
				
<% elsif @region.id == 9 %>
	<div id="oferta_1_maule-frecuencias" class="cuadro-grafico graph_7_3 row mr-0">
		<div class=" col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='oferta_1_maule-frecuencias' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;oferta_1_maule&#47;frecuencias&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='oferta_1_maule&#47;frecuencias' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;oferta_1_maule&#47;frecuencias&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('oferta_1_maule-frecuencias');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[4].help_title %>
				</p>
				<p>
					<%= @sidebars[4].help_text %>
				</p>
			</div>
		</div>
	</div>
				

<% elsif @region.id == 11 %>
	<div id="oferta_1_bio_bio-frecuencias" class="cuadro-grafico graph_8_3 row mr-0">
		<div class=" col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='oferta_1_bio_bio-frecuencias' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;oferta_1_bio_bio&#47;frecuencias&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='oferta_1_bio_bio&#47;frecuencias' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;oferta_1_bio_bio&#47;frecuencias&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('oferta_1_bio_bio-frecuencias');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[4].help_title %>
				</p>
				<p>
					<%= @sidebars[4].help_text %>
				</p>
			</div>
		</div>
	</div>

<% elsif @region.id == 12 %>
	<div id="oferta_1_araucania-frecuencias" class="cuadro-grafico graph_9_3 row mr-0">
		<div class=" col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='oferta_1_araucania-frecuencias' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;oferta_1_araucania&#47;frecuencias&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='oferta_1_araucania&#47;frecuencias' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;oferta_1_araucania&#47;frecuencias&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('oferta_1_araucania-frecuencias');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[4].help_title %>
				</p>
				<p>
					<%= @sidebars[4].help_text %>
				</p>
			</div>
		</div>
	</div>

<% elsif @region.id == 13 %>
	<div id="oferta_1_los_rios-frecuencias" class="cuadro-grafico graph_14_3 row mr-0">
		<div class=" col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='oferta_1_los_rios-frecuencias' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;oferta_1_los_rios&#47;frecuencias&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='oferta_1_los_rios&#47;frecuencias' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;oferta_1_los_rios&#47;frecuencias&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('oferta_1_los_rios-frecuencias');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[4].help_title %>
				</p>
				<p>
					<%= @sidebars[4].help_text %>
				</p>
			</div>
		</div>
	</div>



<% end %>