

<% if @region.id == 1 %>
	<div id="transporte_privado_1_arica-parque" class="cuadro-grafico graph_15_5 row mr-0">
		<div class="col-sm-10 pr-0">
				<div class='tableauPlaceholder' id='viz1541572083352' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;transporte_privado_1_arica&#47;parque&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_privado_1_arica&#47;parque' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;transporte_privado_1_arica&#47;parque&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1541572083352');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-dato">
					<p>
					<%= @sidebars[0].data_title %>
					</p>
					<p>
					<%= @sidebars[0].data_text %>
					</p>
					<p th:text="${help2} ">...</p>
				<br>
			</div>
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[0].help_title %>
				</p>
				<p>
					<%= @sidebars[0].help_text %>
				</p>
			</div>
		</div>
	</div>
	<br>

<% elsif @region.id == 2 %>
	<div id="transporte_privado_1_tarapaca-parque" class="cuadro-grafico graph_1_5 row mr-0">
		<div class="col-sm-10 pr-0">
				<div class='tableauPlaceholder' id='viz1541650492296' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;transporte_privado_1_tarapaca&#47;parque&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_privado_1_tarapaca&#47;parque' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;transporte_privado_1_tarapaca&#47;parque&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1541650492296');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-dato">
					<p>
					<%= @sidebars[0].data_title %>
					</p>
					<p>
					<%= @sidebars[0].data_text %>
					</p>
					<p th:text="${help2} ">...</p>
				<br>
			</div>
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[0].help_title %>
				</p>
				<p>
					<%= @sidebars[0].help_text %>
				</p>
			</div>
		</div>
	</div>
	<br>

<% elsif @region.id == 3 %>
	<div id="transporte_privado_1_antofagasta-parque" class="cuadro-grafico graph_2_5 row mr-0">
		<div class="col-sm-10 pr-0">
				<div class='tableauPlaceholder' id='viz1541651088071' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;transporte_privado_1_antofagasta&#47;parque&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_privado_1_antofagasta&#47;parque' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;transporte_privado_1_antofagasta&#47;parque&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1541651088071');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-dato">
					<p>
					<%= @sidebars[0].data_title %>
					</p>
					<p>
					<%= @sidebars[0].data_text %>
					</p>
					<p th:text="${help2} ">...</p>
				<br>
			</div>
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[0].help_title %>
				</p>
				<p>
					<%= @sidebars[0].help_text %>
				</p>
			</div>
		</div>
	</div>
	<br>

<% elsif @region.id == 4 %>
	<div id="transporte_privado_1_atacama-parque" class="cuadro-grafico graph_3_5 row mr-0">
		<div class="col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='viz1541653374790' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;transporte_privado_1_atacama&#47;parque&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_privado_1_atacama&#47;parque' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;transporte_privado_1_atacama&#47;parque&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1541653374790');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-dato">
					<p>
					<%= @sidebars[0].data_title %>
					</p>
					<p>
					<%= @sidebars[0].data_text %>
					</p>
					<p th:text="${help2} ">...</p>
				<br>
			</div>
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[0].help_title %>
				</p>
				<p>
					<%= @sidebars[0].help_text %>
				</p>
			</div>
		</div>
	</div>
	<br>

<% elsif @region.id == 5 %>
	<div id="transporte_privado_1_coquimbo-parque" class="cuadro-grafico graph_4_5 row mr-0">
		<div class="col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='transporte_privado_1_coquimbo-parque' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_privado_1_coquimbo&#47;parque&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_privado_1_coquimbo&#47;parque' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_privado_1_coquimbo&#47;parque&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('transporte_privado_1_coquimbo-parque');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-dato">
					<p>
					<%= @sidebars[0].data_title %>
					</p>
					<p>
					<%= @sidebars[0].data_text %>
					</p>
					<p th:text="${help2} ">...</p>
				<br>
			</div>
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[0].help_title %>
				</p>
				<p>
					<%= @sidebars[0].help_text %>
				</p>
			</div>
		</div>
	</div>
	<br>

<% elsif @region.id == 6 %>
	<div id="transporte_privado_1_valparaiso-parque" class="cuadro-grafico graph_5_5 row mr-0">
		<div class="col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='viz1541655413048' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;transporte_privado_1_valparaiso&#47;parque&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_privado_1_valparaiso&#47;parque' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;transporte_privado_1_valparaiso&#47;parque&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1541655413048');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-dato">
					<p>
					<%= @sidebars[0].data_title %>
					</p>
					<p>
					<%= @sidebars[0].data_text %>
					</p>
					<p th:text="${help2} ">...</p>
				<br>
			</div>
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[0].help_title %>
				</p>
				<p>
					<%= @sidebars[0].help_text %>
				</p>
			</div>
		</div>
	</div>


<% elsif @region.id == 7 %>

	<div id="transporte_privado_1_metropolitana-parque" class="cuadro-grafico graph_13_5 row mr-0">
		<div class="col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='viz1540867753182' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;transporte_privado_1_metropolitana&#47;parque&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_privado_1_metropolitana&#47;parque' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;transporte_privado_1_metropolitana&#47;parque&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1540867753182');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-dato">
				<p>
				<%= @sidebars[0].data_title %>
				</p>
				<p>
				<%= @sidebars[0].data_text %>
				</p>
				<p th:text="${help1} "><%= @sidebars[0].data_number %></p>
<!-- 						<p> -->
<!-- 						valor_base -->
<!-- 						</p> -->
			</div>
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[0].help_title %>
				</p>
				<p>
					<%= @sidebars[0].help_text %>
				</p>
			</div>
		</div>
	</div>
	<br>

	<div id="transporte_privado_2_metropolitana-autopistas_santiago" class="cuadro-grafico graph_13_5 row mr-0">
		<div class="col-sm-10 pr-0">
		<div class='tableauPlaceholder' id='viz1540867876795' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;transporte_privado_2_metropolitana&#47;autopistas_santiago&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_privado_2_metropolitana&#47;autopistas_santiago' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;transporte_privado_2_metropolitana&#47;autopistas_santiago&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1540867876795');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[1].help_title %>
				</p>
				<p>
					<%= @sidebars[1].help_text %>
				</p>
			</div>
		</div>
	</div>

	<div id="transporte_privado_1_metropolitana-conteos_evolutivo" class="cuadro-grafico graph_13_5 row mr-0">
		<div class=" col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='viz1540867797044' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;transporte_privado_1_metropolitana&#47;conteos_evolutivo&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_privado_1_metropolitana&#47;conteos_evolutivo' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;transporte_privado_1_metropolitana&#47;conteos_evolutivo&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1540867797044');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-dato">
				<p>
				<%= @sidebars[2].data_title %>
				</p>
				<p>
				<%= @sidebars[2].data_text %>
				</p>
				<p th:text="${help2} "><%= @sidebars[2].data_number %></p>
<!-- 						<p> -->
<!-- 						valor_base -->
<!-- 						</p> -->
			</div>
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[2].help_title %>
				</p>
				<p>
					<%= @sidebars[2].help_text %>
				</p>
			</div>
		</div>
	</div>

<% elsif @region.id == 8 %>
	<div id="transporte_privado_1_ohiggins-parque" class="cuadro-grafico graph_6_5 row mr-0">
		<div class="col-sm-10 pr-0">
				<div class='tableauPlaceholder' id='transporte_privado_1_ohiggins-parque' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_privado_1_ohiggins&#47;parque&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_privado_1_ohiggins&#47;parque' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_privado_1_ohiggins&#47;parque&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('transporte_privado_1_ohiggins-parque');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-dato">
					<p>
					<%= @sidebars[0].data_title %>
					</p>
					<p>
					<%= @sidebars[0].data_text %>
					</p>
					<p th:text="${help2} ">...</p>
				<br>
			</div>
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[0].help_title %>
				</p>
				<p>
					<%= @sidebars[0].help_text %>
				</p>
			</div>
		</div>
	</div>
	<br>

<% elsif @region.id == 9 %>
	<div id="transporte_privado_1_maule-parque" class="cuadro-grafico graph_7_5 row mr-0">
		<div class="col-sm-10 pr-0">
				<div class='tableauPlaceholder' id='transporte_privado_1_maule-parque' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_privado_1_maule&#47;parque&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_privado_1_maule&#47;parque' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_privado_1_maule&#47;parque&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('transporte_privado_1_maule-parque');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-dato">
					<p>
					<%= @sidebars[0].data_title %>
					</p>
					<p>
					<%= @sidebars[0].data_text %>
					</p>
					<p th:text="${help2} ">...</p>
				<br>
			</div>
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[0].help_title %>
				</p>
				<p>
					<%= @sidebars[0].help_text %>
				</p>
			</div>
		</div>
	</div>
	<br>

<% elsif @region.id == 11 %>
	<div id="transporte_privado_1_bio_bio-parque" class="cuadro-grafico graph_8_5 row mr-0">
		<div class="col-sm-10 pr-0">
				<div class='tableauPlaceholder' id='transporte_privado_1_bio_bio-parque' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_privado_1_bio_bio&#47;parque&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_privado_1_bio_bio&#47;parque' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_privado_1_bio_bio&#47;parque&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('transporte_privado_1_bio_bio-parque');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-dato">
					<p>
					<%= @sidebars[0].data_title %>
					</p>
					<p>
					<%= @sidebars[0].data_text %>
					</p>
					<p th:text="${help2} ">...</p>
				<br>
			</div>
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[0].help_title %>
				</p>
				<p>
					<%= @sidebars[0].help_text %>
				</p>
			</div>
		</div>
	</div>
	<br>
<% elsif @region.id == 12 %>
	<div id="transporte_privado_1_araucania-parque" class="cuadro-grafico graph_9_5 row mr-0">
		<div class="col-sm-10 pr-0">
				<div class='tableauPlaceholder' id='transporte_privado_1_araucania-parque' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_privado_1_araucania&#47;parque&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_privado_1_araucania&#47;parque' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_privado_1_araucania&#47;parque&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('transporte_privado_1_araucania-parque');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-dato">
					<p>
					<%= @sidebars[0].data_title %>
					</p>
					<p>
					<%= @sidebars[0].data_text %>
					</p>
					<p th:text="${help2} ">...</p>
				<br>
			</div>
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[0].help_title %>
				</p>
				<p>
					<%= @sidebars[0].help_text %>
				</p>
			</div>
		</div>
	</div>
	<br>
				
<% end %>