

<% if @region.id == 1 %>
	<div id="transporte_no_motorizado_1_arica-ciclovias_kms" class="cuadro-grafico graph_15_6 row mr-0">
		<div class="col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='viz1541572150198' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;transporte_no_motorizado_1_arica&#47;ciclovias_kms&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_no_motorizado_1_arica&#47;ciclovias_kms' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;transporte_no_motorizado_1_arica&#47;ciclovias_kms&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1541572150198');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height='1527px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[0].help_title %>
				</p>
				<p>
					<%= @sidebars[0].help_text %>
				</p>
			</div>
		</div>
	</div>
	<br>
	<div id="transporte_no_motorizado_1_arica-conteos" class="cuadro-grafico graph_15_6 row">
			<div class=" col-sm-10">
				<div class='tableauPlaceholder' id='viz1541572194794' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;transporte_no_motorizado_1_arica&#47;conteos&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_no_motorizado_1_arica&#47;conteos' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;transporte_no_motorizado_1_arica&#47;conteos&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1541572194794');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
			</div>
			<div class="col-sm-2">
				<div class="cuadro-ayuda">
					<p>
						AYUDA
					</p>
					<p>
						Flujo de ciclistas en ciclovías
					</p>
					<p>
					En algunas ciclovías del país existen sistemas de conteo que permiten obtener un registro de la cantidad de viajes en bicicleta registrados sobre ellas.
					</p>
				</div>
			</div>
		</div>

<% elsif @region.id == 2 %>
	<div id="transporte_no_motorizado_1_tarapaca-ciclovias_kms" class="cuadro-grafico graph_1_6 row mr-0">
		<div class="col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='viz1541650563688' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;transporte_no_motorizado_1_tarapaca&#47;ciclovias_kms&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_no_motorizado_1_tarapaca&#47;ciclovias_kms' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;transporte_no_motorizado_1_tarapaca&#47;ciclovias_kms&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1541650563688');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height='1527px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[0].help_title %>
				</p>
				<p>
					<%= @sidebars[0].help_text %>
				</p>
			</div>
		</div>
	</div>
	<br>
	<div id="transporte_no_motorizado_1_tarapaca-conteos" class="cuadro-grafico graph_1_6 row">
			<div class=" col-sm-10">
				<div class='tableauPlaceholder' id='viz1541650587866' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;transporte_no_motorizado_1_tarapaca&#47;conteos&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_no_motorizado_1_tarapaca&#47;conteos' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;transporte_no_motorizado_1_tarapaca&#47;conteos&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1541650587866');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
			</div>
			<div class="col-sm-2">
				<div class="cuadro-ayuda">
					<p>
						AYUDA
					</p>
					<p>
						Flujo de ciclistas en ciclovías
					</p>
					<p>
					En algunas ciclovías del país existen sistemas de conteo que permiten obtener un registro de la cantidad de viajes en bicicleta registrados sobre ellas.
					</p>
				</div>
			</div>
		</div>

<% elsif @region.id == 3 %>
	<div id="transporte_no_motorizado_1_antofagasta-ciclovias_kms" class="cuadro-grafico graph_2_6 row mr-0">
		<div class="col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='viz1541651106431' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;transporte_no_motorizado_1_antofagasta&#47;ciclovias_kms&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_no_motorizado_1_antofagasta&#47;ciclovias_kms' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;transporte_no_motorizado_1_antofagasta&#47;ciclovias_kms&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1541651106431');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height='1527px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[0].help_title %>
				</p>
				<p>
					<%= @sidebars[0].help_text %>
				</p>
			</div>
		</div>
	</div>
	<br>
	<div id="transporte_no_motorizado_2_antofagasta-conteos" class="cuadro-grafico graph_2_6 row">
			<div class=" col-sm-10">
				<div class='tableauPlaceholder' id='viz1541651124098' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;transporte_no_motorizado_1_antofagasta&#47;conteos&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_no_motorizado_1_antofagasta&#47;conteos' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;transporte_no_motorizado_1_antofagasta&#47;conteos&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1541651124098');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
			</div>
			<div class="col-sm-2">
				<div class="cuadro-ayuda">
					<p>
						AYUDA
					</p>
					<p>
						Flujo de ciclistas en ciclovías
					</p>
					<p>
					En algunas ciclovías del país existen sistemas de conteo que permiten obtener un registro de la cantidad de viajes en bicicleta registrados sobre ellas.
					</p>
				</div>
			</div>
		</div>

<% elsif @region.id == 4 %>
	<div id="transporte_no_motorizado_1_atacama-ciclovias_kms" class="cuadro-grafico graph_3_6 row mr-0">
		<div class="col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='viz1541653403974' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;transporte_no_motorizado_1_atacama&#47;ciclovias_kms&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_no_motorizado_1_atacama&#47;ciclovias_kms' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;transporte_no_motorizado_1_atacama&#47;ciclovias_kms&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1541653403974');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height='1527px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[0].help_title %>
				</p>
				<p>
					<%= @sidebars[0].help_text %>
				</p>
			</div>
		</div>
	</div>
	<br>
	<div id="transporte_no_motorizado_1_atacama-conteos" class="cuadro-grafico graph_3_6 row">
			<div class=" col-sm-10">
				<div class='tableauPlaceholder' id='viz1541653421402' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;transporte_no_motorizado_1_atacama&#47;conteos&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_no_motorizado_1_atacama&#47;conteos' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;transporte_no_motorizado_1_atacama&#47;conteos&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1541653421402');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
			</div>
			<div class="col-sm-2">
				<div class="cuadro-ayuda">
					<p>
						AYUDA
					</p>
					<p>
						Flujo de ciclistas en ciclovías
					</p>
					<p>
					En algunas ciclovías del país existen sistemas de conteo que permiten obtener un registro de la cantidad de viajes en bicicleta registrados sobre ellas.
					</p>
				</div>
			</div>
		</div>

<% elsif @region.id == 5 %>
	<div id="transporte_no_motorizado_1_coquimbo-ciclovias_kms" class="cuadro-grafico graph_4_6 row mr-0">
		<div class="col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='transporte_no_motorizado_1_coquimbo-ciclovias_kms' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_no_motorizado_1_coquimbo&#47;ciclovias_kms&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_no_motorizado_1_coquimbo&#47;ciclovias_kms' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_no_motorizado_1_coquimbo&#47;ciclovias_kms&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('transporte_no_motorizado_1_coquimbo-ciclovias_kms');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[0].help_title %>
				</p>
				<p>
					<%= @sidebars[0].help_text %>
				</p>
			</div>
		</div>
	</div>
	<br>
	<div id="transporte_no_motorizado_1_coquimbo-conteos" class="cuadro-grafico graph_4_6 row">
			<div class=" col-sm-10">
				<div class='tableauPlaceholder' id='transporte_no_motorizado_1_coquimbo-conteos' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_no_motorizado_1_coquimbo&#47;conteos&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_no_motorizado_1_coquimbo&#47;conteos' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_no_motorizado_1_coquimbo&#47;conteos&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('transporte_no_motorizado_1_coquimbo-conteos');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
			</div>
			<div class="col-sm-2">
				<div class="cuadro-ayuda">
					<p>
						AYUDA
					</p>
					<p>
						Flujo de ciclistas en ciclovías
					</p>
					<p>
					En algunas ciclovías del país existen sistemas de conteo que permiten obtener un registro de la cantidad de viajes en bicicleta registrados sobre ellas.
					</p>
				</div>
			</div>
		</div>

<% elsif @region.id == 6 %>
	<div id="transporte_no_motorizado_1_valparaiso-ciclovias_kms" class="cuadro-grafico graph_5_6 row mr-0">
		<div class="col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='viz1541655456543' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;transporte_no_motorizado_1_valparaiso&#47;ciclovias_kms&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_no_motorizado_1_valparaiso&#47;ciclovias_kms' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;transporte_no_motorizado_1_valparaiso&#47;ciclovias_kms&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1541655456543');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height='1527px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[0].help_title %>
				</p>
				<p>
					<%= @sidebars[0].help_text %>
				</p>
			</div>
		</div>
	</div>
	<br>
	<div id="transporte_no_motorizado_2_valparaiso-conteos" class="cuadro-grafico graph_5_6 row">
			<div class=" col-sm-10">
				<div class='tableauPlaceholder' id='viz1541655469639' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;transporte_no_motorizado_1_valparaiso&#47;conteos&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_no_motorizado_1_valparaiso&#47;conteos' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;transporte_no_motorizado_1_valparaiso&#47;conteos&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1541655469639');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
			</div>
			<div class="col-sm-2">
				<div class="cuadro-ayuda">
					<p>
						AYUDA
					</p>
					<p>
						Flujo de ciclistas en ciclovías
					</p>
					<p>
					En algunas ciclovías del país existen sistemas de conteo que permiten obtener un registro de la cantidad de viajes en bicicleta registrados sobre ellas.
					</p>
				</div>
			</div>
		</div>

<% elsif @region.id == 7 %>

	<div id="transporte_no_motorizado_1_metropolitana-ciclovias_kms" class="cuadro-grafico graph_13_6 row mr-0">
		<div class="col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='viz1626942892680' style='position: relative'><noscript><a href='#'><img alt='Kilómetros de ciclovías construidos por comuna (año 2021) ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ki&#47;Kilmetrosconstruidosdeciclovas&#47;Sheet1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Kilmetrosconstruidosdeciclovas&#47;Sheet1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ki&#47;Kilmetrosconstruidosdeciclovas&#47;Sheet1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1626942892680');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

		</div>
		<div class="col-sm-2">
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[0].help_title %>
				</p>
				<p>
					<%= @sidebars[0].help_text %>
				</p>
			</div>
		</div>
	</div>
	<br>

	<div id="transporte_no_motorizado_2_metropolitana-walkscore" class="cuadro-grafico graph_13_6 row mr-0">
		<div class="col-sm-10 pr-0">
		<div class='tableauPlaceholder' id='viz1540868038696' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;transporte_no_motorizado_2_metropolitana&#47;walkscore&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_no_motorizado_2_metropolitana&#47;walkscore' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;tr&#47;transporte_no_motorizado_2_metropolitana&#47;walkscore&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1540868038696');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height='1827px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[1].help_title %>
				</p>
				<p>
					<%= @sidebars[1].help_text %>
				</p>
			</div>
		</div>
	</div>

<% elsif @region.id == 8 %>
	<div id="transporte_no_motorizado_1_ohiggins-ciclovias_kms" class="cuadro-grafico graph_6_6 row mr-0">
		<div class="col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='transporte_no_motorizado_1_ohiggins-ciclovias_kms' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_no_motorizado_1_ohiggins&#47;ciclovias_kms&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_no_motorizado_1_ohiggins&#47;ciclovias_kms' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_no_motorizado_1_ohiggins&#47;ciclovias_kms&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('transporte_no_motorizado_1_ohiggins-ciclovias_kms');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[0].help_title %>
				</p>
				<p>
					<%= @sidebars[0].help_text %>
				</p>
			</div>
		</div>
	</div>
	<br>
	<div id="transporte_no_motorizado_1_ohiggins-conteos" class="cuadro-grafico graph_6_6 row">
			<div class=" col-sm-10">
				<div class='tableauPlaceholder' id='transporte_no_motorizado_1_ohiggins-conteos' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_no_motorizado_1_ohiggins&#47;conteos&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_no_motorizado_1_ohiggins&#47;conteos' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_no_motorizado_1_ohiggins&#47;conteos&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('transporte_no_motorizado_1_ohiggins-conteos');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
			</div>
			<div class="col-sm-2">
				<div class="cuadro-ayuda">
					<p>
						AYUDA
					</p>
					<p>
						Flujo de ciclistas en ciclovías
					</p>
					<p>
					En algunas ciclovías del país existen sistemas de conteo que permiten obtener un registro de la cantidad de viajes en bicicleta registrados sobre ellas.
					</p>
				</div>
			</div>
		</div>

<% elsif @region.id == 9 %>
	<div id="transporte_no_motorizado_1_maule-ciclovias_kms" class="cuadro-grafico graph_7_6 row mr-0">
		<div class="col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='transporte_no_motorizado_1_maule-ciclovias_kms' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_no_motorizado_1_maule&#47;ciclovias_kms&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_no_motorizado_1_maule&#47;ciclovias_kms' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_no_motorizado_1_maule&#47;ciclovias_kms&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('transporte_no_motorizado_1_maule-ciclovias_kms');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[0].help_title %>
				</p>
				<p>
					<%= @sidebars[0].help_text %>
				</p>
			</div>
		</div>
	</div>
	<br>
	<div id="transporte_no_motorizado_1_maule-conteos" class="cuadro-grafico graph_7_6 row">
			<div class=" col-sm-10">
				<div class='tableauPlaceholder' id='transporte_no_motorizado_1_maule-conteos' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_no_motorizado_1_maule&#47;conteos&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_no_motorizado_1_maule&#47;conteos' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_no_motorizado_1_maule&#47;conteos&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('transporte_no_motorizado_1_maule-conteos');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
			</div>
			<div class="col-sm-2">
				<div class="cuadro-ayuda">
					<p>
						AYUDA
					</p>
					<p>
						Flujo de ciclistas en ciclovías
					</p>
					<p>
					En algunas ciclovías del país existen sistemas de conteo que permiten obtener un registro de la cantidad de viajes en bicicleta registrados sobre ellas.
					</p>
				</div>
			</div>
		</div>

<% elsif @region.id == 11 %>
	<div id="transporte_no_motorizado_1_bio_bio-ciclovias_kms" class="cuadro-grafico graph_8_6 row mr-0">
		<div class="col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='transporte_no_motorizado_1_bio_bio-ciclovias_kms' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_no_motorizado_1_bio_bio&#47;ciclovias_kms&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_no_motorizado_1_bio_bio&#47;ciclovias_kms' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_no_motorizado_1_bio_bio&#47;ciclovias_kms&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('transporte_no_motorizado_1_bio_bio-ciclovias_kms');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[0].help_title %>
				</p>
				<p>
					<%= @sidebars[0].help_text %>
				</p>
			</div>
		</div>
	</div>
	<br>
	<div id="transporte_no_motorizado_1_bio_bio-conteos" class="cuadro-grafico graph_8_6 row">
			<div class=" col-sm-10">
				<div class='tableauPlaceholder' id='transporte_no_motorizado_1_bio_bio-conteos' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_no_motorizado_1_bio_bio&#47;conteos&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_no_motorizado_1_bio_bio&#47;conteos' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_no_motorizado_1_bio_bio&#47;conteos&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('transporte_no_motorizado_1_bio_bio-conteos');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
			</div>
			<div class="col-sm-2">
				<div class="cuadro-ayuda">
					<p>
						AYUDA
					</p>
					<p>
						Flujo de ciclistas en ciclovías
					</p>
					<p>
					En algunas ciclovías del país existen sistemas de conteo que permiten obtener un registro de la cantidad de viajes en bicicleta registrados sobre ellas.
					</p>
				</div>
			</div>
		</div>

<% elsif @region.id == 12 %>
	<div id="transporte_no_motorizado_1_araucania-ciclovias_kms" class="cuadro-grafico graph_9_6 row mr-0">
		<div class="col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='transporte_no_motorizado_1_araucania-ciclovias_kms' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_no_motorizado_1_araucania&#47;ciclovias_kms&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_no_motorizado_1_araucania&#47;ciclovias_kms' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_no_motorizado_1_araucania&#47;ciclovias_kms&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('transporte_no_motorizado_1_araucania-ciclovias_kms');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[0].help_title %>
				</p>
				<p>
					<%= @sidebars[0].help_text %>
				</p>
			</div>
		</div>
	</div>
	<br>
	<div id="transporte_no_motorizado_1_araucania-conteos" class="cuadro-grafico graph_9_6 row">
			<div class=" col-sm-10">
				<div class='tableauPlaceholder' id='transporte_no_motorizado_1_araucania-conteos' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_no_motorizado_1_araucania&#47;conteos&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_no_motorizado_1_araucania&#47;conteos' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_no_motorizado_1_araucania&#47;conteos&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('transporte_no_motorizado_1_araucania-conteos');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
			</div>
			<div class="col-sm-2">
				<div class="cuadro-ayuda">
					<p>
						AYUDA
					</p>
					<p>
						Flujo de ciclistas en ciclovías
					</p>
					<p>
					En algunas ciclovías del país existen sistemas de conteo que permiten obtener un registro de la cantidad de viajes en bicicleta registrados sobre ellas.
					</p>
				</div>
			</div>
		</div>

<% elsif @region.id == 13 %>
	<div id="transporte_no_motorizado_1_los_rios-ciclovias_kms" class="cuadro-grafico graph_14_6 row mr-0">
		<div class="col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='transporte_no_motorizado_1_los_rios-ciclovias_kms' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_no_motorizado_1_los_rios&#47;ciclovias_kms&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_no_motorizado_1_los_rios&#47;ciclovias_kms' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_no_motorizado_1_los_rios&#47;ciclovias_kms&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('transporte_no_motorizado_1_los_rios-ciclovias_kms');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[0].help_title %>
				</p>
				<p>
					<%= @sidebars[0].help_text %>
				</p>
			</div>
		</div>
	</div>
	<br>
	<div id="transporte_no_motorizado_1_los_rios-conteos" class="cuadro-grafico graph_14_6 row">
			<div class=" col-sm-10">
				<div class='tableauPlaceholder' id='transporte_no_motorizado_1_los_rios-conteos' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_no_motorizado_1_los_rios&#47;conteos&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_no_motorizado_1_los_rios&#47;conteos' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_no_motorizado_1_los_rios&#47;conteos&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('transporte_no_motorizado_1_los_rios-conteos');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
			</div>
			<div class="col-sm-2">
				<div class="cuadro-ayuda">
					<p>
						AYUDA
					</p>
					<p>
						Flujo de ciclistas en ciclovías
					</p>
					<p>
					En algunas ciclovías del país existen sistemas de conteo que permiten obtener un registro de la cantidad de viajes en bicicleta registrados sobre ellas.
					</p>
				</div>
			</div>
		</div>

<% elsif @region.id == 14 %>
	<div id="transporte_no_motorizado_1_los_lagos-ciclovias_kms" class="cuadro-grafico graph_10_6 row mr-0">
		<div class="col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='transporte_no_motorizado_1_los_lagos-ciclovias_kms' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_no_motorizado_1_los_lagos&#47;ciclovias_kms&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_no_motorizado_1_los_lagos&#47;ciclovias_kms' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_no_motorizado_1_los_lagos&#47;ciclovias_kms&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('transporte_no_motorizado_1_los_lagos-ciclovias_kms');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[0].help_title %>
				</p>
				<p>
					<%= @sidebars[0].help_text %>
				</p>
			</div>
		</div>
	</div>
	<br>
	<div id="transporte_no_motorizado_1_los_lagos-conteos" class="cuadro-grafico graph_10_6 row">
			<div class=" col-sm-10">
				<div class='tableauPlaceholder' id='transporte_no_motorizado_1_los_lagos-conteos' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_no_motorizado_1_los_lagos&#47;conteos&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_no_motorizado_1_los_lagos&#47;conteos' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_no_motorizado_1_los_lagos&#47;conteos&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('transporte_no_motorizado_1_los_lagos-conteos');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
			</div>
			<div class="col-sm-2">
				<div class="cuadro-ayuda">
					<p>
						AYUDA
					</p>
					<p>
						Flujo de ciclistas en ciclovías
					</p>
					<p>
					En algunas ciclovías del país existen sistemas de conteo que permiten obtener un registro de la cantidad de viajes en bicicleta registrados sobre ellas.
					</p>
				</div>
			</div>
		</div>

<% elsif @region.id == 15 %>
	<div id="transporte_no_motorizado_1_aysen-ciclovias_kms" class="cuadro-grafico graph_11_6 row mr-0">
		<div class="col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='transporte_no_motorizado_1_aysen-ciclovias_kms' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_no_motorizado_1_aysen&#47;ciclovias_kms&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_no_motorizado_1_aysen&#47;ciclovias_kms' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_no_motorizado_1_aysen&#47;ciclovias_kms&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('transporte_no_motorizado_1_aysen-ciclovias_kms');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[0].help_title %>
				</p>
				<p>
					<%= @sidebars[0].help_text %>
				</p>
			</div>
		</div>
	</div>
	<br>
	<div id="transporte_no_motorizado_1_aysen-conteos" class="cuadro-grafico graph_11_6 row">
			<div class=" col-sm-10">
				<div class='tableauPlaceholder' id='transporte_no_motorizado_1_aysen-conteos' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_no_motorizado_1_aysen&#47;conteos&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_no_motorizado_1_aysen&#47;conteos' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_no_motorizado_1_aysen&#47;conteos&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('transporte_no_motorizado_1_aysen-conteos');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
			</div>
			<div class="col-sm-2">
				<div class="cuadro-ayuda">
					<p>
						AYUDA
					</p>
					<p>
						Flujo de ciclistas en ciclovías
					</p>
					<p>
					En algunas ciclovías del país existen sistemas de conteo que permiten obtener un registro de la cantidad de viajes en bicicleta registrados sobre ellas.
					</p>
				</div>
			</div>
		</div>

<% elsif @region.id == 16 %>
	<div id="transporte_no_motorizado_1_magallanes-ciclovias_kms" class="cuadro-grafico graph_12_6 row mr-0">
		<div class="col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='transporte_no_motorizado_1_magallanes-ciclovias_kms' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_no_motorizado_1_magallanes&#47;ciclovias_kms&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_no_motorizado_1_magallanes&#47;ciclovias_kms' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_no_motorizado_1_magallanes&#47;ciclovias_kms&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('transporte_no_motorizado_1_magallanes-ciclovias_kms');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[0].help_title %>
				</p>
				<p>
					<%= @sidebars[0].help_text %>
				</p>
			</div>
		</div>
	</div>
	<br>
	<div id="transporte_no_motorizado_1_magallanes-conteos" class="cuadro-grafico graph_12_6 row">
			<div class=" col-sm-10">
				<div class='tableauPlaceholder' id='transporte_no_motorizado_1_magallanes-conteos' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_no_motorizado_1_magallanes&#47;conteos&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='transporte_no_motorizado_1_magallanes&#47;conteos' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;transporte_no_motorizado_1_magallanes&#47;conteos&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('transporte_no_motorizado_1_magallanes-conteos');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
			</div>
			<div class="col-sm-2">
				<div class="cuadro-ayuda">
					<p>
						AYUDA
					</p>
					<p>
						Flujo de ciclistas en ciclovías
					</p>
					<p>
					En algunas ciclovías del país existen sistemas de conteo que permiten obtener un registro de la cantidad de viajes en bicicleta registrados sobre ellas.
					</p>
				</div>
			</div>
		</div>

<% end %>		