<% if @region.id == 7 %>
	<div id="performance_1_metropolitana-periodos_vel_icr" class="cuadro-grafico graph_13_4 row mr-0">
		<div class="col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='viz1626931873751' style='position: relative'><noscript><a href='#'><img alt='Velocidad comercial por periodo del día ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ve&#47;velocidadporperiododelda&#47;Sheet1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='velocidadporperiododelda&#47;Sheet1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ve&#47;velocidadporperiododelda&#47;Sheet1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1626931873751');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.55)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>


			<div class="accordion" id="accordionExample">
			  <div class="card">
			    <div class="card-header pb-1 pt-0 mt-0" id="headingOne">
			      <h2 class="mb-0 mt-0">
			        <button class="btn btn-link collapsed cuadro-ayuda cuadro-info-titulo" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			          Información Adicional y Fuentes
			        </button>
			      </h2>
			    </div>

			    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
			      <div class="card-body cuadro-ayuda cuadro-info">
			        <strong>Velocidad comercial por periodo del día:</strong> 2021. Informe de Gestión 2020. Directorio de Transporte Público Metropolitano. <a href="https://www.dtpm.cl/index.php/documentos/informes-de-gestion">https://www.dtpm.cl/index.php/documentos/informes-de-gestion</a>
			      </div>
			    </div>
			  </div>
			</div>

		</div>
		<div class="col-sm-2">
			<div>
				<div class="cuadro-ayuda">
					<p>
						AYUDA
					</p>
					<p>
						<!--<%= @sidebars[0].help_title %>-->
						Velocidad promedio en distintos periodos del día
					</p>
					<p>
						<!--<%= @sidebars[0].help_text %>-->
						Muestra la velocidad comercial promedio de los servicios de Transantiago para tres periodos del día durante el año seleccionado.
					</p>
				</div>
			</div>
		</div>
	</div>
	<br>

	<div id="performance_1_metropolitana-ranking_icr" class="cuadro-grafico graph_13_4 row mr-0">
		<div class=" col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='viz1626928039850' style='position: relative'><noscript><a href='#'><img alt='Promedios anuales de Indicares de Regularidad (ICR) y Frecuencia (ICF) por Unidad de Negocio ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pr&#47;PromediosICRyICF&#47;Sheet1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='PromediosICRyICF&#47;Sheet1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pr&#47;PromediosICRyICF&#47;Sheet1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1626928039850');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.60)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

		<div class="accordion" id="accordionExample">
		  <div class="card">
		    <div class="card-header pb-1 pt-0 mt-0" id="headingOne">
		      <h2 class="mb-0 mt-0">
		        <button class="btn btn-link collapsed cuadro-ayuda cuadro-info-titulo" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
		          Información Adicional y Fuentes
		        </button>
		      </h2>
		    </div>

		    <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
		      <div class="card-body cuadro-ayuda cuadro-info">
		      	<strong>ICR:</strong> Indicador de Regularidad. Para octubre de 2019 sólo considera entre el día 1 y el día 17.<br>
		      	<strong>ICF:</strong> Indicador de Frecuencia. Para octubre de 2019 sólo considera entre el día 1 y el día 17.<br>
		        <strong>Promedios anuales de Indicadores de Regularidad (ICR) y Frecuencia (ICF) por Unidad de Negocio:</strong> 2021. Informe de Gestión 2020. Directorio de Transporte Público Metropolitano. <a href="https://www.dtpm.cl/index.php/documentos/informes-de-gestion">https://www.dtpm.cl/index.php/documentos/informes-de-gestion</a>
		      </div>
		    </div>
		  </div>
		</div>

		</div>
		<div class="col-sm-2">
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[1].help_title %>
				</p>
				<p>
					<%= @sidebars[1].help_text %>
				</p>
			</div>
		</div>
	</div>

	<div id="performance_1_metropolitana-icr_i_evolutivo" class="cuadro-grafico graph_13_4 row mr-0">
		<div class=" col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='viz1626222130191' style='position: relative'><noscript><a href='#'><img alt='Evolución de IRC_i por Operador ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ev&#47;EvoluacinIRC_iRM&#47;Sheet1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='EvoluacinIRC_iRM&#47;Sheet1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ev&#47;EvoluacinIRC_iRM&#47;Sheet1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1626222130191');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.55)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

			<div class="accordion" id="accordionExample">
			  <div class="card">
			    <div class="card-header pb-1 pt-0 mt-0" id="headingOne">
			      <h2 class="mb-0 mt-0">
			        <button class="btn btn-link collapsed cuadro-ayuda cuadro-info-titulo" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
			          Información Adicional y Fuentes
			        </button>
			      </h2>
			    </div>

			    <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
			      <div class="card-body cuadro-ayuda cuadro-info">
			      	<strong>ICR:</strong> Indicador de Regularidad. Para octubre de 2019 sólo considera entre el día 1 y el día 17.<br>
			        <strong>Evolución de Índice Cumplimiento de Regularidad (ICR) por Operador:</strong> 2021. Informe de Gestión 2020. Directorio de Transporte Público Metropolitano. <a href="https://www.dtpm.cl/index.php/documentos/informes-de-gestion">https://www.dtpm.cl/index.php/documentos/informes-de-gestion</a>
			      </div>
			    </div>
			  </div>
			</div>

		</div>
		<div class="col-sm-2">
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[2].help_title %>
				</p>
				<p>
					<%= @sidebars[2].help_text %>
				</p>
			</div>
		</div>
	</div>

	<div id="performance_1_metropolitana-velocidad_evolutivo" class="cuadro-grafico graph_13_4 row mr-0">
		<div class=" col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='viz1626829135591' style='position: relative'><noscript><a href='#'><img alt='Velocidad Comercial Promedio Red&#47;Transantiago ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ve&#47;VelocidadesRM&#47;Sheet1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='VelocidadesRM&#47;Sheet1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ve&#47;VelocidadesRM&#47;Sheet1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1626829135591');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.55)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

		<div class="accordion" id="accordionExample">
			  <div class="card">
			    <div class="card-header pb-1 pt-0 mt-0" id="headingOne">
			      <h2 class="mb-0 mt-0">
			        <button class="btn btn-link collapsed cuadro-ayuda cuadro-info-titulo" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
			          Información Adicional y Fuentes
			        </button>
			      </h2>
			    </div>

			    <div id="collapseFour" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
			      <div class="card-body cuadro-ayuda cuadro-info">
			        <strong>Velocidad Comercial Promedio Red/Transantiago:</strong> 2021. Informe de Gestión 2020. Directorio de Transporte Público Metropolitano. <a href="https://www.dtpm.cl/index.php/documentos/informes-de-gestion">https://www.dtpm.cl/index.php/documentos/informes-de-gestion</a>
			      </div>
			    </div>
			  </div>
			</div>

		</div>
		<div class="col-sm-2">
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[3].help_title %>
				</p>
				<p>
					<%= @sidebars[3].help_text %>
				</p>
			</div>
		</div>
	</div>
				
<% end %>