<% if @region.id == 6 %>
	<div id="eod_1_valparaiso-dash_1" class="cuadro-grafico graph_5_1 row mr-0">
		<div class=" col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='viz1541655303869' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;eo&#47;eod_1_valparaiso&#47;dash_1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='eod_1_valparaiso&#47;dash_1' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;eo&#47;eod_1_valparaiso&#47;dash_1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object>
			</div>
			 <script type='text/javascript'>                    var divElement = document.getElementById('viz1541655303869');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height='2027px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div style="margin-bottom: 359px">
				<div class="cuadro-ayuda">
					<p>
						AYUDA
					</p>
					<p>
						<%= @sidebars[0].help_title %>
					</p>
					<p>
						<%= @sidebars[0].help_text %>
					</p>
					<br>
				</div>
			</div>
			<div style="margin-bottom: 112px">
				<div class="cuadro-dato">
					<p>
						<%= @sidebars[1].data_title %>
					</p>
					<p>
						<%= @sidebars[1].data_text %>
					</p>
					<p th:text="${help1} ">...</p>
				</div>

				<div class="cuadro-ayuda">
					<p>
						AYUDA
					</p>
					<p>
						<%= @sidebars[1].help_title %>
					</p>
					<p>
						<%= @sidebars[1].help_text %>
					</p>
				</div>
			</div>
			
			
			<div style="margin-bottom: 129px">
				<div class="cuadro-dato">
					<p>
						<%= @sidebars[3].data_title %>
					</p>
					<p>
						<%= @sidebars[3].data_text %>
					</p>
					<p th:text="${help3} ">...</p>
				</div>
				<div class="cuadro-ayuda">
					<p>
						AYUDA
					</p>
					<p>
						<%= @sidebars[3].help_title %>
					</p>
					<p>
						<%= @sidebars[3].help_text %>
					</p>
				</div>
			</div>
		</div>
	</div>
	<br>

	<div id="eod_1_valparaiso-particion_modal" class="cuadro-grafico graph_5_1 row mr-0">
		<div class=" col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='viz1541655373845' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;eo&#47;eod_1_valparaiso&#47;particion_modal&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='eod_1_valparaiso&#47;particion_modal' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;eo&#47;eod_1_valparaiso&#47;particion_modal&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1541655373845');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[4].help_title %>
				</p>
				<p>
					<%= @sidebars[4].help_text %>
				</p>
			</div>
		</div>
	</div>


	<div id="eod_1_valparaiso-matriz" class="cuadro-grafico graph_5_1 row mr-0">
		<div class=" col-sm-10 pr-0">
<!-- 				<div class='tableauPlaceholder' id='viz1541560246514' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;de&#47;demanda_1_metropolitana&#47;viajes_etapas&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='demanda_1_metropolitana&#47;viajes_etapas' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;de&#47;demanda_1_metropolitana&#47;viajes_etapas&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1541560246514');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height='827px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script> -->
			<div class='tableauPlaceholder' id='viz1541655360784' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;eo&#47;eod_1_valparaiso&#47;matriz&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='eod_1_valparaiso&#47;matriz' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;eo&#47;eod_1_valparaiso&#47;matriz&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1541655360784');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>

		<div class="col-sm-2">
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[5].help_title %>
				</p>
				<p>
					<%= @sidebars[5].help_text %>
				</p>
				<br>
			</div>
		</div>
	</div>



	<div id="eod_1_valparaiso-generacion_zona" class="cuadro-grafico graph_5_1 row mr-0">
		<div class=" col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='viz1541655386963' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;eo&#47;eod_1_valparaiso&#47;generacion_zona&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='eod_1_valparaiso&#47;generacion_zona' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;eo&#47;eod_1_valparaiso&#47;generacion_zona&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1541655386963');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[6].help_title %>
				</p>
				<p>
					<%= @sidebars[6].help_text %>
				</p>
				<br>
			</div>
		</div>
	</div>






<% elsif @region.id == 7 %>
	<div id="eod_3-dash_1" class="cuadro-grafico graph_13_1 row mr-0">
		<div class=" col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='viz1541559257515' style='position: relative' width="100%">
				<noscript>
					<a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;eo&#47;eod_3&#47;dash_1&#47;1_rss.png' style='border: none' />
					</a>
				</noscript>
				<object class='tableauViz'  style='display:none;'>
					<param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
					<param name='embed_code_version' value='3' />
					<param name='site_root' value='' />
					<param name='name' value='eod_3&#47;dash_1' />
					<param name='tabs' value='no' />
					<param name='showShareOptions' value='false' />
					<param name='toolbar' value='no' />
					<param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;eo&#47;eod_3&#47;dash_1&#47;1.png' />
					<param name='animate_transition' value='yes' />
					<param name='display_static_image' value='yes' />
					<param name='display_spinner' value='yes' />
					<param name='display_overlay' value='yes' />
					<param name='display_count' value='yes' />
				</object>
			</div>
			<script type='text/javascript'>
				var divElement = document.getElementById('viz1541559257515');
				var vizElement = divElement.getElementsByTagName('object')[0];
				vizElement.style.width='100.6%';
				vizElement.style.height='2277px';
				var scriptElement = document.createElement('script');
				scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
				vizElement.parentNode.insertBefore(scriptElement, vizElement);


			</script>
		</div>
		<div class="col-sm-2">
			<div style="margin-bottom: 359px">
				<div class="cuadro-ayuda">
					<p>
						AYUDA
					</p>
					<p>
						<%= @sidebars[0].help_title %>
					</p>
					<p>
						<%= @sidebars[0].help_text %>
					</p>
					<br>
				</div>
			</div>
			<div style="margin-bottom: 112px">
				<div class="cuadro-dato">
					<p>
						<%= @sidebars[1].data_title %>
					</p>
					<p>
						<%= @sidebars[1].data_text %>
					</p>
					<p th:text="${help1} "><%= @sidebars[1].data_number %></p>
				</div>

				<div class="cuadro-ayuda">
					<p>
						AYUDA
					</p>
					<p>
						<%= @sidebars[1].help_title %>
					</p>
					<p>
						<%= @sidebars[1].help_text %>
					</p>
				</div>
			</div>
			
			
			<div style="margin-bottom: 129px">
				<div class="cuadro-dato">
					<p>
						<%= @sidebars[2].data_title %>
					</p>
					<p>
						<%= @sidebars[2].data_text %>
					</p>
					<p th:text="${help3} "><%= @sidebars[2].data_number %></p>
				</div>
				<div class="cuadro-ayuda">
					<p>
						AYUDA
					</p>
					<p>
						<%= @sidebars[2].help_title %>
					</p>
					<p>
						<%= @sidebars[2].help_text %>
					</p>
				</div>
			</div>
			<div>
				<div class="cuadro-dato">
					<p>
						<%= @sidebars[3].data_title %>
					</p>
					<p>
						<%= @sidebars[3].data_text %>
					</p>
					<p th:text="${help2} "><%= @sidebars[3].data_number %></p>
				</div>
				<div class="cuadro-ayuda">
					<p>
						AYUDA
					</p>
					<p>
						<%= @sidebars[3].help_title %>
					</p>
					<p>
						<%= @sidebars[3].help_text %>
					</p>
				</div>
			</div>
		</div>
	</div>
	<br>

	<div id="eod_3-particion_modal" class="cuadro-grafico graph_13_1 row mr-0">
		<div class=" col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='viz1541559450005' style='position: relative'>
				<noscript>
					<a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;eo&#47;eod_3&#47;particion_modal&#47;1_rss.png' style='border: none' /></a>
				</noscript>
				<object class='tableauViz'  style='display:none;'>
					<param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
					<param name='embed_code_version' value='3' />
					<param name='site_root' value='' />
					<param name='name' value='eod_3&#47;particion_modal' />
					<param name='tabs' value='no' />
					<param name='showShareOptions' value='false' />
					<param name='toolbar' value='no' />
					<param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;eo&#47;eod_3&#47;particion_modal&#47;1.png' />
					<param name='animate_transition' value='yes' />
					<param name='display_static_image' value='yes' />
					<param name='display_spinner' value='yes' />
					<param name='display_overlay' value='yes' />
					<param name='display_count' value='yes' />
				</object>
			</div>
			<script type='text/javascript'>
				var divElement = document.getElementById('viz1541559450005');
				var vizElement = divElement.getElementsByTagName('object')[0];
				vizElement.style.width='99%';
				vizElement.style.height=(divElement.offsetWidth*0.25)+'px';
				var scriptElement = document.createElement('script');
				scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
				vizElement.parentNode.insertBefore(scriptElement, vizElement);
			</script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[4].help_title %>
				</p>
				<p>
					<%= @sidebars[4].help_text %>
				</p>
			</div>
		</div>
	</div>


	<div id="eod_3-matriz" class="cuadro-grafico graph_13_1 row mr-0">
		<div class=" col-sm-10 pr-0">
<!-- 				<div class='tableauPlaceholder' id='viz1541560246514' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;de&#47;demanda_1_metropolitana&#47;viajes_etapas&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='demanda_1_metropolitana&#47;viajes_etapas' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;de&#47;demanda_1_metropolitana&#47;viajes_etapas&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1541560246514');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height='827px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script> -->
			<div class='tableauPlaceholder' id='viz1541559351385' style='position: relative'>
				<noscript>
					<a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;eo&#47;eod_3&#47;matriz&#47;1_rss.png' style='border: none' /></a>
				</noscript>
				<object class='tableauViz'  style='display:none;'>
					<param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
					<param name='embed_code_version' value='3' />
					<param name='site_root' value='' />
					<param name='name' value='eod_3&#47;matriz' />
					<param name='tabs' value='no' />
					<param name='showShareOptions' value='false' />
					<param name='toolbar' value='no' />
					<param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;eo&#47;eod_3&#47;matriz&#47;1.png' />
					<param name='animate_transition' value='yes' />
					<param name='display_static_image' value='yes' />
					<param name='display_spinner' value='yes' />
					<param name='display_overlay' value='yes' />
					<param name='display_count' value='yes' />
				</object>
			</div>
			<script type='text/javascript'>
				var divElement = document.getElementById('viz1541559351385');
				var vizElement = divElement.getElementsByTagName('object')[0];
				vizElement.style.width='99%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
				var scriptElement = document.createElement('script');
				scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
				vizElement.parentNode.insertBefore(scriptElement, vizElement);
			</script>
		</div>

		<div class="col-sm-2">
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[5].help_title %>
				</p>
				<p>
					<%= @sidebars[5].help_text %>
				</p>
				<br>
			</div>
		</div>
	</div>



	<div id="eod_3-generacion_zona" class="cuadro-grafico graph_13_1 row mr-0">
		<div class=" col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='viz1541559519912' style='position: relative'>
				<noscript>
					<a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;eo&#47;eod_3&#47;generacion_zona&#47;1_rss.png' style='border: none' /></a>
				</noscript>
				<object class='tableauViz'  style='display:none;'>
					<param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
					<param name='embed_code_version' value='3' />
					<param name='site_root' value='' />
					<param name='name' value='eod_3&#47;generacion_zona' />
					<param name='tabs' value='no' />
					<param name='showShareOptions' value='false' />
					<param name='toolbar' value='no' />
					<param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;eo&#47;eod_3&#47;generacion_zona&#47;1.png' />
					<param name='animate_transition' value='yes' />
					<param name='display_static_image' value='yes' />
					<param name='display_spinner' value='yes' />
					<param name='display_overlay' value='yes' />
					<param name='display_count' value='yes' />
				</object>
			</div>
			<script type='text/javascript'>
				var divElement = document.getElementById('viz1541559519912');
				var vizElement = divElement.getElementsByTagName('object')[0];
				vizElement.style.width='99%';
				vizElement.style.height=(divElement.offsetWidth*0.50)+'px';
				var scriptElement = document.createElement('script');
				scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
				vizElement.parentNode.insertBefore(scriptElement, vizElement);
			</script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[6].help_title %>
				</p>
				<p>
					<%= @sidebars[6].help_text %>
				</p>
				<br>
			</div>
		</div>
	</div>

<% end %>