<% if @region.id == 7 %>

	<div id="seguridad_vial_1_metropolitana-evolutivo_personas" class="cuadro-grafico graph_13_7 row mr-0">
		<div class="col-sm-10 pr-0">
			<div class='tableauPlaceholder' id='viz1540868144448' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;seguridad_vial_1_metropolitana&#47;evolutivo_personas&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='seguridad_vial_1_metropolitana&#47;evolutivo_personas' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;seguridad_vial_1_metropolitana&#47;evolutivo_personas&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1540868144448');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[0].help_title %>
				</p>
				<p>
					<%= @sidebars[0].help_text %>
				</p>
			</div>
		</div>
	</div>
	<br>

	<div id="seguridad_vial_1_metropolitana-causas" class="cuadro-grafico graph_13_7 row mr-0">
		<div class="col-sm-10 pr-0">
		<div class='tableauPlaceholder' id='viz1540868175497' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;seguridad_vial_1_metropolitana&#47;causas&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='seguridad_vial_1_metropolitana&#47;causas' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;seguridad_vial_1_metropolitana&#47;causas&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1540868175497');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[1].help_title %>
				</p>
				<p>
					<%= @sidebars[1].help_text %>
				</p>
			</div>
		</div>
	</div>

	<div id="seguridad_vial_1_metropolitana-comunas" class="cuadro-grafico graph_13_7 row mr-0">
		<div class="col-sm-10 pr-0">
		<div class='tableauPlaceholder' id='viz1540868226561' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;seguridad_vial_1_metropolitana&#47;comunas&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='seguridad_vial_1_metropolitana&#47;comunas' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;seguridad_vial_1_metropolitana&#47;comunas&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1540868226561');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[2].help_title %>
				</p>
				<p>
					<%= @sidebars[2].help_text %>
				</p>
			</div>
		</div>
	</div>

	<div id="seguridad_vial_1_metropolitana-ocde" class="cuadro-grafico graph_13_7 row mr-0">
		<div class="col-sm-10 pr-0">
		<div class='tableauPlaceholder' id='viz1540868237012' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;seguridad_vial_1_metropolitana&#47;ocde&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='seguridad_vial_1_metropolitana&#47;ocde' /><param name='tabs' value='no' /><param name='showShareOptions' value='false' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;se&#47;seguridad_vial_1_metropolitana&#47;ocde&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1540868237012');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
		</div>
		<div class="col-sm-2">
			<div class="cuadro-ayuda">
				<p>
					AYUDA
				</p>
				<p>
					<%= @sidebars[3].help_title %>
				</p>
				<p>
					<%= @sidebars[3].help_text %>
				</p>
			</div>
		</div>
	</div>
				
<% end %>