


<!-- <div class="container-fluid pl-0"> -->
	<nav class="navbar menu-uc-superior pl-0 ml-0" style="position: sticky;top:0;z-index: 100">
		<div class="morado_logo">
		<a class="navbar-brand pt-0" style="margin-top:10px;padding-left: 20px;background-color: #44255F;width: 200px" href="https://www.uc.cl">
			<img src=<%= asset_path "logo-uc-wh.png" %> width="150px">
		</a>
		</div> 
		<div>
			<ul class="nav justify-content-end" style="margin-top:-68px">
				<li class="nav-item"><a class="nav-link" href="#">Biblioteca</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Donaciones</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Mi Portal UC</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Correo</a></li>
			</ul>
		</div>
	</nav>

	<div id="wrapper">
		
		<div class="sidebar">	
			<ul>

				<li>
					<!-- <select class="form-control" id="regionSelect" name="regionSelect"></select> -->
					<!--<%= select_tag(:city_id, options_from_collection_for_select(@active_region, :id, :name, @region.id), :class => 'form-control', :style => 'font-size:10px', :onchange => 'detailFunction()') %>-->
					<br>
					<!--<%= select_tag "beta", raw("<option> Región Metropolitana</option>"), :class => 'form-control', :style => 'font-size:10px' %>-->
				</li>

				<li>
					<a href="<%= asset_path root_path(:region => @region.id) %>"><div class="row">
						<i class="fas fa-home col-1 mt-1"></i><span class="col-11">INICIO</span>
					</div></a>
				</li>
				
				<% if @vistum.id == 1 %>
				<li class="active">
					<div class="row">
						<i class="<%= @vista[0].logo %> col-1"></i><span class="col-11">Encuesta Origen Destino</span>
					</div>
				</li>
				<% elsif @region.dataone == nil %>
					<li class="empty">
						<div class="row">
							<i class="<%= @vista[0].logo %> col-1"></i><span class="col-11">Demanda de Transporte Público</span>
						</div>
					</li>
				<% else %> 
				<li>
					<a href="<%= asset_path detail_path(region_id: @region.id,vistum_id: 1) %>"><div class="row">
						<i class="<%= @vista[0].logo %> col-1"></i><span class="col-11">Encuesta Origen Destino</span>
					</div></a>
				</li>
				<% end %>
				
				<% if @vistum.id == 2 %> 
				<li class="active">
					<div class="row">
						<i class="<%= @vista[1].logo %> col-1"></i><span class="col-11">Demanda de Transporte Público</span>
					</div>
				</li>
				<% elsif @region.datatwo == nil %>
					<li class="empty">
						<div class="row">
							<i class="<%= @vista[1].logo %> col-1"></i><span class="col-11">Demanda de Transporte Público</span>
						</div>
					</li>
				<% else %>
					<li>
					<a href="<%= asset_path detail_path(region_id: @region.id,vistum_id: 2) %>"><div class="row">
						<i class="<%= @vista[1].logo %> col-1"></i><span class="col-11">Demanda de Transporte Público</span>
					</div></a>
				</li>
				<% end %>

				<% if @vistum.id == 3 %> 
				<li class="active">
					<div class="row">
						<i class="<%= @vista[2].logo %> col-1"></i><span class="col-11">Oferta de Transporte Público</span>
					</div>
				</li>
				<% elsif @region.datathree == nil %>
					<li class="empty">
						<div class="row">
							<i class="<%= @vista[2].logo %> col-1"></i><span class="col-11">Demanda de Transporte Público</span>
						</div>
					</li>
				<% else %>
				<li>
					<a href="<%= asset_path detail_path(region_id: @region.id,vistum_id: 3) %>"><div class="row">
						<i class="<%= @vista[2].logo %> col-1"></i><span class="col-11">Oferta de Transporte Público</span>
					</div></a>
				</li>
				<% end %>

				<% if @vistum.id == 4 %>
				<li class="active">
					<div class="row">
						<i class="<%= @vista[3].logo %> col-1"></i><span class="col-11">Desempeño del Transporte Público</span>
					</div>
				</li>
				<% elsif @region.datafour == nil %>
					<li class="empty">
						<div class="row">
							<i class="<%= @vista[3].logo %> col-1"></i><span class="col-11">Demanda de Transporte Público</span>
						</div>
					</li>
				<% else %> 
				<li>
					<a href="<%= asset_path detail_path(region_id: @region.id,vistum_id: 4) %>"><div class="row">
						<i class="<%= @vista[3].logo %> col-1"></i><span class="col-11">Desempeño del Transporte Público</span>
					</div></a>
				</li>
				<% end %>

				<% if @vistum.id == 5 %> 
				<li class="active">
					<div class="row">
						<i class="<%= @vista[4].logo %> col-1"></i><span class="col-11">Transporte Privado</span>
					</div>
				</li>
				<% elsif @region.datafive == nil %>
					<li class="empty">
						<div class="row">
							<i class="<%= @vista[4].logo %> col-1"></i><span class="col-11">Demanda de Transporte Público</span>
						</div>
					</li>
				<% else %>
				<li>
					<a href="<%= asset_path detail_path(region_id: @region.id,vistum_id: 5) %>"><div class="row">
						<i class="<%= @vista[4].logo %> col-1 mt-1"></i><span class="col-11">Transporte Privado</span>
					</div></a>
				</li>
				<% end %>

				<% if @vistum.id == 6 %> 
				<li class="active">
					<div class="row">
						<i class="<%= @vista[5].logo %> col-1"></i><span class="col-11">Transporte No Motorizado</span>
					</div>
				</li>
				<% elsif @region.datasix == nil %>
					<li class="empty">
						<div class="row">
							<i class="<%= @vista[5].logo %> col-1"></i><span class="col-11">Demanda de Transporte Público</span>
						</div>
					</li>
				<% else %>
				<li>
					<a href="<%= asset_path detail_path(region_id: @region.id,vistum_id: 6) %>"><div class="row">
						<i class="<%= @vista[5].logo %> col-1"></i><span class="col-11">Transporte No Motorizado</span>
					</div></a>
				</li>
				<% end %>

				<% if @vistum.id == 7 %> 
				<li class="active">
					<div class="row">
						<i class="<%= @vista[6].logo %> col-1"></i><span class="col-11">Seguridad Vial</span>
					</div>
				</li>
				<% elsif @region.dataseven == nil %>
					<li class="empty">
						<div class="row">
							<i class="<%= @vista[6].logo %> col-1"></i><span class="col-11">Demanda de Transporte Público</span>
						</div>
					</li>
				<% else %>
				<li>
					<a href="<%= asset_path detail_path(region_id: @region.id,vistum_id: 7) %>"><div class="row">
						<i class="<%= @vista[6].logo %> col-1 mt-1"></i><span class="col-11">Seguridad Vial</span>
					</div></a>
				</li>
				<% end %>

			</ul>
		</div>




		<div id="textos cabecera" class="content">
			<div class="cabecera-detalle">
				Reporte de Movilidad
			</div>
			
			<div class="row mr-0 pr-0">
				<div class="col-10">
					<div class="titulo-detalle">
						<i class="<%= @vistum.logo %>" style="color:#e93f42"></i> <%= @vistum.category %>
					</div>
					<div class="texto-detalle">
						<%= @vistum.bajada %>
					</div>
				</div>
			</div>
	
			

			<div id="RM">
				<% 7.times do |i| %>
					<% if @vistum.id == i+1 %>
						<%= render "details/vistum#{i+1}" %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>

</div>
<script>
	function  detailFunction() {
		var city = document.getElementById('city_id').value;
		window.location.href = `../${city}/<%= @vistum.id %>`
	}
</script>
